{% extends 'main_window/layout.html' %}



{% block content %}
    <p>Авторизация</p>
    <form>
        {% csrf_token %}
        {{ form.as_p }}
<!--        <input class="login" type="text" placeholder="Login">-->
<!--        <input class="password" type="password" placeholder="Password">-->
        <button class="enter" type="submit" name="enter" value="enter">Войти</button>

    </form>
    <p>или</p>
    <button class="register" type="submit" name="register" value="Register" onclick="document.location='/registrations'">Регистрация</button>
{% endblock %}