{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!--    <link rel="stylesheet" href="{% static 'libs/bootstrap.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <header class="header">
      <nav class="menu">
          <img class="lines" src="{% static 'img/Vector.svg' %}" alt="">
          <div class="search" id="search">
              <form action="#">
                  <input type="text" placeholder="Поиск">
              </form>
          </div>
          <div class="dropdown">
              <button class="drop_btn"><img class="user_step" src="{% static 'img/Plus.svg' %}" alt=""></button>
              <div class="dropdown-content">
                  <button class="add_btn" id="add_btn" data-modal-button="modal-1">Добавить ссылку</button>
                  <a href="#popup">Ссылка 2</a>
                  <a href="#">Ссылка 3</a>
              </div>
          </div>
          <div class="exit_text">
              <a class="exit" href="{% url 'authorization' %}" >Выход</a>
          </div>
      </nav>
  </header>
  <div class="wrapper">
      <main class="main">
          <div class="container">
              <div class="column_left">
                  <div class="header_left_column">
                          <p>Ваши файлы</p>
                  </div>
                  <div class="base__files">
                      <p>{{ Угар }}</p>
                      {% for el in Топ %}
                        <p>{{ el }}</p>
                      {% endfor %}
                  </div>
              </div>
              <div class="column_right">
                  <div class="header_right_column">
                      <button class="content pressed_button" data-pressed-button>Содержание</button>
                      <button class="tags" data-pressed-button>Теги</button>
                  </div>
                  <div class="window-container">
                      <div class="window-content">
                          {% for el in user_links %}
                          <p class="description hidden" id="description-{{ el.id }}" data-tag="tag-{{ el.id }}" data-content-description >{{ el.description }}</p>
                          {% endfor %}
                          {% for el in user_links %}
                          <p class="tag hidden" id="tag-{{ el.id }}" data-description="description-{{ el.id }}" data-content-tag >{{ el.tags }}</p>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="footer">
                      <div class="search">
                          <form action="#">
                            <input type="text" placeholder="Поиск">
                          </form>
                      </div>
                  </div>
              </div>
              <div class="middle">
                  {% if user_data %}
                      <table>
                          <thead>
                            <tr>
                                <th class="title">Название</th>
                                <th class="type">Тип</th>
                                <th>Дата</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for el in user_data %}
                            <tr data-links_1>
                                <td>{{ el.name }}</td>
                                <td>.{{ el.file_type }}</td>
                                <td>{{ el.data }}</td>
                            </tr>
                            {% endfor %}
                            {% for el in user_links %}
                            <tr data-links data-link="{{ el.id }}">
                                <td>{{ el.link }}</td>
                                <td>Ссылка</td>
                                <td>Дата</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  {% else %}
                    <p class="user_have_not_file">Здесь пока ничего</p>
                  {% endif %}
              </div>
          </div>
      </main>
  </div>
  <div id="modal-1" data-modal class="fade-block hidden">
      <div class="modal-window">
          <div class="card">
              <div class="card-header">
                  Добавить ссылку
              </div>
              <div class="card-body">
                  <form method="post" action="#">
                    {% csrf_token %}
                    {{ form.link }}<br>
                    {{ form.description }}<br>
                    {{ form.tags }}<br>
                    <button class="link_add btn btn-dark" type="submit" name="link_add" value="Link_add">Save</button>
                </form>
                  <button
                          data-modal-close
                          type="button"
                          class="btn btn-dark"
                        >
                      Закрыть окно
                  </button>
              </div>
          </div>
      </div>
  </div>
  <script type="text/javascript" src="{% static 'js/table_links.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popup_add_link.js' %}"></script>
</body>
</html>