{% load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header class="header">
      <nav class="menu">
          <img class="lines" src="{% static 'img/Vector.svg' %}" alt="">
          <div class="search">
              <form action="#">
                  <input type="text" placeholder="Поиск">
              </form>
          </div>
          <div class="options">
              <img class="user_step" src="{% static 'img/Plus.svg' %}" alt="">
          </div>
          <div class="exit_text">
              <a class="exit" href="{% url 'authorization' %}" >Выход</a>
          </div>
      </nav>
  </header>
  <div class="wrapper">
      <main class="main">
          <div class="container">
              <div class="column_left">
                  <div class="header_left_column">
                          <p>Ваши файлы</p>
                  </div>
                  <div class="base__files">
                      <p>РРРРРРРРРРРР</p>
                  </div>
              </div>
              <div class="column_right">
                  <div class="header_right_column">
                      <button class="content">Содержание</button>
                      <button class="tags">Теги</button>
                  </div>
                  <div class="footer">
                      <div class="search">
                          <form action="#">
                            <input type="text" placeholder="Поиск">
                          </form>
                      </div>
                  </div>
              </div>
              <div class="middle">
                  <table>
                      <thead>
                        <tr>
                            <th class="title">Название</th>
                            <th class="type">Тип</th>
                            <th>Дата</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Отчет</td>
                            <td>docx</td>
                            <td>20.03.2020</td>
                        </tr>
                        <tr>
                            <td>Отчет</td>
                            <td>docx</td>
                            <td>20.03.2020</td>
                        </tr>
                        <tr>
                            <td>Отчет</td>
                            <td>docx</td>
                            <td>20.03.2020</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </main>
  </div>
</body>
</html>