body {
    width: 1440px;
    max-height: 600px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 10vh;
    background: #2A2F36;
    display: flex;

}

.menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lines {
    padding-top: 21px;
    padding-left: 20px;
    max-width: 30px;
    max-height: 30px;
}

.search {
    padding-left: 30px;
    height 50px;
}

input[type=text] {
  padding:12px;
  margin:10px 0;
  font-size: 20px;
  border-radius: 23px;
}

.drop_btn {
    background: #2A2F36;
    left: 0;
    margin-left: 0;
    padding: 10px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.user_step {
    padding: 0;
}

.dropdown {
  float: left;
  overflow: hidden;

}

.dropdown .drop_btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.add_btn {
  padding: 0;
  margin-left: 0;
  padding-left: 16px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.exit_text {
    padding: 25px;
    position: absolute;
    right: 0;
    font-size: 20px;
}

.exit {
    text-decoration: none;
    color: #fff;
}

.container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 72px;
  height: 89.83vh;
  pointer-events: none;
}

.column_left {
    position:absolute;
    left: 0;
    width: 254px;
    height: 95.09%;
}

.header_left_column {
    left: 0;
    width: 254px;
    height: 5%;
    background: white;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
}

p {
    padding: 0;
    margin: 0;
}

.base__files {
    color: #fff;
    width 254px;
    height: 100%;
    background: #2A2F36;
    left: 0;
}

.column_right {
    position: absolute;
    right: 0;
    width: 376px;
    height: 100%;
    background: black;
}

.header_right_column {
    right: 0;
    width: 376px;
    height: 63px;
    background: white;
}

button {
    background: #C4C4C4;
    height: 39px;
    margin-top: 12px;
    margin-left: 34px;
    font-size: 20px;
    top: 12px;
    left: 38px;
}

.content {
    border-radius: 20px 0 0 20px;
    width: 177px;
}

.tags {
    margin-left: -4px;
    border-radius: 0 20px 20px 0;
    width: 124px;
}

.footer {
    background: #c4c4c4;
    position: absolute;
    width: 100%;
    height: 67px;
    bottom: 0;
}

.middle {
    position: absolute;
    left: 254px;
    right:376px;
    height: 100%;
    background: white;
    text-align: center;
    vertical-align: middle;
}

thead {
    width: 100%;
    height: 100%;
    background: #C4C4C4;
}

table {
    width: 100%;
}

table tbody tr:nth-child(odd){
	background: #fff;
}

table tbody tr:nth-child(even){
	background: #C4C4C4;
}

.title {
    width: 588px;
}
.type {
    width: 100px;
}

.user_have_not_file {
    text-align: center;
    vertical-align: middle;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index:99999999;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    display: block;
}
.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.link {
    
}
.description {

}
.tags {

}